<p><%= notice %></p>

<h1>投稿一覧</h1>

<% @posts.each do |post| %>
  <p>タイトル:<%= post.title %></p>
  <p>本文:<%= post.content %></p>
  <%= link_to "投稿を編集する", edit_post_path(post.id) %>
  <%= link_to "投稿を削除する", post_path(post.id), method: :delete, data: {confirm: '本当に削除していいですか？'} %>
<% end %>

<%= link_to "写真を投稿する", new_post_path %>