<div class="container">
<div class="wrapper col-md-8 col-sm-10">
  <p class="flash"><%= notice %><%= alert %></p>
  <h1>写真一覧</h1>
    <%= link_to "写真を投稿する", new_post_path, class: 'btn btn-default' %>
  <% @posts.each do |post| %>
  <div class="row">
    <div class="profile-img"><%= profile_img(User.find(post.user_id)) %></div>
    <h4><strong><%= post.title %></strong></h4>
    <p><%= post.content %></p>
    <p><%= image_tag(post.picture.url) %></p>
    <%= link_to "編集", edit_post_path(post.id), class: 'btn btn-sm btn-success' %>
    <%= link_to "削除", post_path(post.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-sm btn-danger' %>
  </div>
  <% end %>
</div>
<div class="wrapper col-md-4 col-sm-2">
  <div class="row">
    <p class="profile-img"><%= profile_img(User.find(current_user.id)) %></p>
    <p><%= link_to current_user.name, edit_user_registration_path %></p>
  </div>
</div>
</div>